<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
<div class="container">

    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><b>회원 가입</b></h1>
        <p class="lead text-muted">Join us</p>
    </div>
<!--     action  여기수정해-->
    <form action="/members" method="post">
        <div class="mb-3">
            <label for="exampleInputId" class="form-label">Id</label>
            <input name ="userId" type="text" class="form-control" id="exampleInputId">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <input name ="password" type="password" class="form-control" id="exampleInputPassword">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">이름</label>
            <input name="userName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label class="form-label">생년월일</label>
            <div class="row">
                <div class="col">
                    <select name ="userYear" class="form-select" aria-label="Default select example">
                        <option selected>연</option>
                        <th:block th:each="num : ${#numbers.sequence(2022,1930)}">
                            <option th:value="${num}" th:text="${num}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="col">
                    <select name = "userMonth" class="form-select" aria-label="Default select example">
                        <option selected>월</option>
                        <th:block th:each="num : ${#numbers.sequence(1,12)}">
                            <option th:value="${num}" th:text="${num}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="col">
                    <select name = "userDate" class="form-select" aria-label="Default select example">
                        <option selected>일</option>
                        <th:block th:each="num : ${#numbers.sequence(1,31)}">
                            <option th:value="${num}" th:text="${num}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
</body>
</html>