<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
<div class="container">

    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><b>로그인하기</b></h1>
        <p class="lead text-muted">Sign In</p>
    </div>
    <!--     action  여기수정해-->
    <form action="/members/try" method="post">
        <div class="mb-3">
            <label for="exampleInputId" class="form-label">Id</label>
            <input name ="userId" type="text" class="form-control" id="exampleInputId">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <input name ="password" type="password" class="form-control" id="exampleInputPassword">
        </div>
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
</div>
</body>
</html>