<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>home</title>
</head>
<body>
<div class="container">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Home in us. hominous</h1>
        <p class="lead text-muted">환영합니다. Welcome!</p>
        <div>
            <label for="userid">😀 아이디</label>
            <input type="text" id="userid" name="" class="form-control" th:value="${member.userId}" readonly>
        </div>
        <p>
            <a href="/" class="btn btn-primary my-2">메인으로</a>
            <a href="/crew/new" class="btn btn-secondary my-2">그룹 생성</a>
        </p>
    </div>
</div>
</body>
</html>