<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>home</title>
</head>
<body>
<div class="container">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Home in us. hominous</h1>
        <p class="lead text-muted">크루가 생성되었습니다.</p>
        <div>
            <label for="crewid">🏠 크루명</label>
            <input type="text" id="crewid" name="" class="form-control" th:value="${crew.name}" readonly>
        </div>
        <p>
            <a href="/" class="btn btn-primary my-2">메인으로</a>
        </p>
    </div>
</div>
</body>
</html>